.header__navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 4rem 18.3rem 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(0, 102, 255, 0.7) 0%,
    rgba(0, 102, 255, 0) 100%
  );
}

.header__logo-box {
  width: 69px;
  height: 49px;
}

.header__logo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navigation__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px;
  gap: 45px;
}

.navigation__link {
  text-decoration: none;
  font-size: 18px;
  color: #0066ff;
}

.header__cta {
  text-decoration: none;
  font-size: 18px;
  padding: 8px 12px;
  color: #ffffff;
  background-color: #0066ff;
  border-radius: 3px;
}

.header__hero {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6rem;
}

.hero__text-box {
  width: 613px;
}

.hero__title {
  font-weight: 700;
}

.span-sub {
  display: block;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ff5c00;
}

.span-main {
  display: block;
  font-size: 50px;
  color: #061224;
}

.hero__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #061224;
  opacity: 0.7;
}

.btn_svg {
  width: 24px;
  height: 24px;
}

.btn--type {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  gap: 10px;
  border: 1px solid rgba(26, 15, 9, 0.1);
  border-radius: 10px;
}

.btn--type span {
  font-size: 14px;
  color: #1a0f09;
}

.type-select {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 8px;
  gap: 10px;
  border: 1px solid rgba(26, 15, 9, 0.1);
  border-radius: 10px;
}

.price-select {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 8px;
  gap: 10px;
  border: 1px solid rgba(26, 15, 9, 0.1);
  border-radius: 10px;
}

.hero__btn {
  text-decoration: none;
  font-size: 18px;
  padding: 10px 14px;
  color: #ffffff;
  background-color: #0066ff;
  border-radius: 3px;
}

.hero__orders-box {
  width: 530px;
  display: flex;
  gap: 1rem;
  flex-direction: row;
  align-items: flex-end;
  border-radius: 20px;
}

.hero__text-box {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  margin-top: 5rem;
}

.hero__img-box {
  width: 55%;
}

.hero__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
